.header {
  background-image: url("../../images/bg.jpg");
  border-bottom: 2px solid red;
  height: 350px;
  color: white;
  font-size: 30px;
  font-weight: bolder;
}

.header .inst {
    margin-top: 80px;
}
